@import url(node_modules/normalize.css/normalize.css);
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   color: #fff;
   font-family: 'Pushster', cursive;
}
ul li {
   list-style: none;
}
button {
   background: transparent;
   border: none;
   color: #fff;
   outline: none;
   cursor: pointer;
}

.header {
   position: relative;
   background-color: rgb(13, 36, 86);
}
.header-container {
   margin: 0 auto;
   padding: 11px;
   max-width: 1280px;
}
.header-nav {

}
.header-nav__items{

}
.header-list {
   display: flex;
   align-items: center;
}
.header-list__item--logo{
   
}

.header-list__logo{
   max-width: 60px;
}
.header-list__item--search{
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.header-list__item--search input {
   margin: 0 auto;
   width: 100%;
   max-width: 380px;
   padding: 5px 6px;
   border: 0;
   color: #fff;
   border-radius: 20px;
   background: hsla(0,0%,100%,.2);
   text-align: center;
}
.header-list__item--settings{}
.header-settings {
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: 0.5s ease all;
   padding: 2px 8px;
   /*border: none;*/
}
.header-settings:focus {
   outline: 5px auto #1b4de4;
}
.header-settings__item--language{
   
}
.header-settings__item-wrapper{
   display: flex;
   align-items: center;
}
.header-settings__picture{
   max-width: 40px;
   width: 100%;
}
.header-settings__language{}
.header-settings--unit {
   padding: 0 10px;
}
.header-settings__item-unit{
   border-left: 1px solid;
}
.header-settings__button {
   position: relative;
   width: 20px;
   height: 20px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}
.header-settings__button:before {
   content: '';
   left: 0;
   top: 5px;
   position: absolute;
   border: 10px solid transparent; /* Прозрачные границы */
   border-top: 10px solid #fff; /* Добавляем треугольник */
}
.header-settings--pressed .header-settings__button{
   transform: rotate(180deg);
}
.extra-menu {
   display: flex;
   justify-content: space-around;
}
.extra-menu__item {
   border: 1px solid #fff;
   flex: 0 1 200px;
   text-align: center;
   padding: 15px 10px;
}
.settings-menu {
   position: absolute;
   right: 0;
   top: 0;
   visibility: hidden;
   width: 100%;
   background-color: #161718;
}
.settings-menu__wrapper {
   display: flex;
}
.settings-menu-headline {
   font-size: 1rem;
}
.settings-item {
   background-color: rgb(22, 23, 24);
   border: 1px solid #1b4de4;
   text-align: center;
}
.settings-menu__wrapper {
   margin: 5px 0 10px 0;
}
.settings-menu__wrapper .settings-item:nth-child(1) {
   margin: 0 10px 0 0;
}
.settings-item--unit {
   flex: 0 1 40px;
   border-radius: 50%;
   padding: 8px;
}
.settings-item--language {
   padding: 10px;
   border-radius: 15px;
}
.settings--active {
   background-color: #4283d2;
}

.show {
   top: 100%;
   visibility: visible;
}

.container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 10px;
}
.content {
   margin-top: 15px;
   flex: 1 1 auto;
}
.main {
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(rgb(19, 38, 89) 9%, rgb(110, 51, 112));
   height: calc(100vh - 85px);
}
.container {
}
.weather {
   flex: 1 1 auto;
/*display: flex;*/

}
.weather-card {
   flex: 1 1 auto;
   background: red;
}
.wheathet-container {
}
.weather-picture {
   max-width: 100px;
   width: 100%;
}
.card {
   /*background-color: #161718;*/
   background: transparent;
   border: 1px solid;
   border-radius: 10px;
}
.card__main {
   display: flex;
   margin: 0 26px 25px 36px;
   justify-content: space-between;
}
.card__title {
   padding: 16px;
   font-weight: 600;
   font-size: 1.25rem;
}
.card__status {
   padding: 0 16px;
   font-weight: 400;
   font-size: 1.1rem;
}
.card__temperature span{
   font-weight: 500;
   font-size: 6rem;
}
.card-item {
   display: flex;
   justify-content: space-between;
}
.card-item__label {
   font-size: 1rem;
   font-weight: 400;
}
.header-input__wrapper {
   position: relative;
   max-width: 380px;
   width: 100%;
}
.search-btn {
   position: absolute;
   right: -3px;
   bottom: 0;
   top: 0;
   background-color: #4283d2;
   height: 35px;
   width: 35px;
   border-radius: 10px;
   transform: rotate(45deg);
   cursor: pointer;
}
.search-btn img{
   max-width: 20px;
   transform: rotate(45deg);
}

.card-table {
   display: flex;
   flex-wrap: wrap;
   color: rgb(185, 180, 175);
}
.card-table__item {
   padding: 10px 16px;
   border-top: 1px solid #dedede;
   flex: 1 1 46%;
}
.card-table__item:nth-child(odd) {
   margin-right: 6px;
}
.card-table__item:nth-child(2n) {
   margin-left: 6px;
}
.footer {
   text-align: center;
}
.week {

}
.week__wrapper {
   display: flex;
}
.week-item {
   border: 1px solid #fff;
   /*display: flex;*/
   /*flex-direction: column;*/
   /*text-align: center;*/
   flex: 0 1 250px;
   padding: 10px;
}
.week-item__day {
   font-size: 18px;
}
.week-item__info {
   /*display: flex;*/
}
.week-item__main-temperature {}
.week-item__fluid {
   /*display: flex;*/
   /*align-items: center;*/
}
.week-item__day-temperature {}
.week-item__night-temperature {}
.week-item__picture {}
.week-item__picture img{
   max-width: 50px;
}
.week-item__info-item {
   border-top: 1px solid #fff;
}